@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}


      /* Navigation style */
nav{
    box-shadow: 5px 5px 5px rgba(1,1,1, 0.05);
    top: 0;
    position: sticky;
    margin-bottom: 32px;
    background-color: white;
    padding: 10px;
    
}      
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
   max-width: 1200px;
   margin: 0 auto;
}  

.bar_icon{
    font-size: 25px;
}

/* logo style */
.logo_contaienr img{
    width: 50px;
    height: 50px;
}
.logo_contaienr h3{
    color: tomato;
    font-size: 20px;
}
.logo_contaienr span{
    font-size: 30px;
}

/* Hero section style */
.hero{
    max-height: 600px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center; 
    
}

.hero_image img{
    height: 500px;
    height: 500px;
    border-radius: 50%;
}

.hero_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tag{
    background-color: #149f39;
    color: white;
    padding: 5px 10px;
    align-self: flex-start;
}

.hero_content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}

.explor_btn{
    background-color: #ffc066;
     align-self: flex-start;
}

/* feafutre section */
.feafures{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.feafure{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.feafure:hover{
   transition: 0.2s ease-in-out;
   box-shadow: 5px 5px 5px rgba(87, 2, 87, 0.323);
}
.divider{
    border: 1px solid #ccc;
    margin: 20px 0;
}


/* Menu section style */
.menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px 0;
    align-items: center;
}

.menu .tag{
    align-self: center;
}

/* grid section */

.grid img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.grid{
display: grid;
gap: 20px;
margin: 50px;
grid-template-columns: repeat(2, 1fr);

}
img:hover{
transform: scale(1.05);    
transition: 0.2s ease-in-out;
box-shadow: 5px 5px 5px rgba(87, 2, 87, 0.323);
}

.item1{
  
}

/* footer section */
footer{
    background-color: #fff0db;
    
}
.footer_container{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    ;
}

.link_lists h3{
    color: gray;
    background-color: rgb(255, 255, 255);
    padding: 0 5px;
    border-radius: 5px 5px 0px 0px;
}
.link_lists h3:hover{
    background-color: #ffc066;
    color: white;
}

.news_letter{
    color: gray;
}
.news_letter h3:hover{
     background-color: #ffc066;
    color: white;
}
.link_lists ul li{
    list-style: none;

}
.link_lists a{
    text-decoration: none;
    color: rgb(112, 109, 109);
}
.link_lists a:hover{
    transition: 0.2s ease-out;
    border: 1px solid tomato;
    background-color: #ffc066;

}
.icon_container{
    display: flex;
    justify-content: space-evenly;
}
.icon:hover{
   color: aqua;
}

input{
    padding: 5px 40px;
    border: none;
    transition: 0.2s ease-in-out;

}
input:hover{
    outline:  solid 2px blueviolet;
    background-color: #ffc066;
    color: black;
}

/* responsive style */
@media (max-width: 786px) {
    .hero{
        flex-direction: column;
    }
    .hero_image{
        display: flex;
        justify-content: center;
    }
    .hero_image img{
        width: 250px;
        height: 250px;
        
    }
    .hero_content{
        gap: 10px;
        padding: 10px;

    }
    .hero_content h1{
        font-size: 32px;
        line-height: 1.2;
    }
    .hero_content{
        margin-top: -30px;
    }
    .feafures{
        flex-direction: column;
    }
    .grid img{
        width: 100%;
        height: 100%;
        margin: 50px;
}
.footer_container{
    flex-direction: column;
}
.link_lists{
    margin-top: 20px;
}
.news_letter{
    text-align: center;
    margin-top: 20px;
}
.news_letter h3{
    margin-top: 20px;
    margin-bottom: 10px;
}
.icon_container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 3px;
}

}